img {
    width:90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1{
    text-align: center;
    font-family: "Verdana", Times, sans-serif;
}

p{
    text-align: center;
    font-family: "Verdana", Times, sans-serif;
}